---
import { Image } from 'astro:assets';

import advice from '../../images/yy/yy-advice.jpg';
import swindon from '../../images/advice-swindon.jpg';
import indian from '../../images/indian.jpg';
import van from '../../images/weddings/van.jpg';
import mistletoe from '../../images/weddings/mistletoe.jpg';
import ball from '../../images/weddings/ball.jpg';
import bride from '../../images/weddings/bride.jpg';

import Gallery from '../Gallery.astro';
import GalleryImage from '../GalleryImage.astro';
import Testimonial from '../Testimonial.astro';
---

<section aria-labelledby="other">
	<h2 id="other">Other Services</h2>
	<div class="columns">
		<div class="col one-half">
			<GalleryImage title="The perfect choice for a lower budget">
				<Image
					alt="Charlotte instructs a young couple in their garden."
					title="The perfect choice for a lower budget"
					src={swindon}
					width={640}
				/>
			</GalleryImage>
		</div>
		<div class="col one-half">
			<h3>"No-Frills" Garden Package</h3>
			<p class="lead">
				For those on a tight budget, Charlotte also offers "No-Frills" garden advice. This can be done in your garden or 
				virtually over video call, just bring a notepad! This is priced at £100 an hour (travel expenses apply over 30 miles). 
				Many clients like Elizabeth below have found this an invaluable service to start them off:
			</p>
			<Testimonial keyName="liz" />
		</div>
	</div>
	<h3>Garden Advice Package</h3>
	<p class="lead">
		If you’ve taken on a new garden and are not sure what to do with it or you just need some fresh ideas for an old garden that you’ve fallen out of love with Charlotte can help.
	</p>
	<div class="columns">
		<div class="col one-half">
			<Testimonial keyName="lucy" />
		</div>
		<div class="col one-half">
			<GalleryImage title="Let Charlotte be your garden mentor">
				<Image
					alt="Charlotte explains things to a client in her garden. Photo by Victoria Tapper"
					title="Let Charlotte be your garden mentor. Photo by Victoria Tapper"
					src={advice}
					width={640}
				/>
			</GalleryImage>
		</div>
	</div>
	<p class="lead">
		Charlotte offers a friendly and informal Garden Consultation Service to get you going <b>without</b> committing to a full design. This includes:
	</p>
	<ul>
		<li>Initial 1-2 hr visit and walk around to get an idea of your needs, when and how you would like to use your garden, what styles, colours and plants you like and what your budget is. Every part of your garden both hard and soft landscaping, amenities and problem areas will be taken into account.</li>
		<li>All suggestions made during the visit will be presented as a written report; a maintenance schedule can also be included.</li>
		<li>At only £500 this is an ideal gift, and should you decide you want to upgrade to a full design later, this will be discounted from the price (subject to <a href="/terms/#consultation" title="Garden consulation terms and conditions">terms and conditions</a>)</li>
	</ul>
	<p class="lead">
		Sue is still using Charlotte’s advice report for inspiration and advice four years later:
	</p>
	<Testimonial keyName="sue" />
	<h3>Indoor Gardening</h3>
	<div class="columns">
		<div class="col one-half">
			<p class="lead">Human beings have an innate connection to nature. Studies have shown time and time again
			that being able to view nature, whether through a window or via indoor plants improves our mental and
			physical health. Nowadays more than any other, people need nature. Many people don’t have the luxury of
			a garden or pets, with house plants you can take care of a living thing. Charlotte can help you chose
			the perfect house plants in conjunction with bespoke terrarium maker <a
				target="_blank" rel="noreferrer" href="https://www.facebook.com/TerrachicUK/" title="Terrachic of Bath">Terrachic of Bath</a>.</p>
			<p class="lead">For businesses, indoor plants have been shown to help reduce sickness and boost energy and
				creativity amongst their workforce. Charlotte can show you how a living wall can create impact, clear
				pollution and save energy in your workspace.</p>
		</div>
		<div class="col one-half">
			<GalleryImage
				title="Moonlight Indian Restaurant, Corsham"
				text="A recent commission for the Moonlight Indian Restaurant in Corsham where Charlotte worked with Terrachic of Bath to create a beautiful, low maintenance indoor tropical garden."
				>
				<Image
					title="Moonlight Indian Restaurant, Corsham"
					alt="The indoor tropical garden designed by Charlotte for Moonlight in Corsham"
					src={indian}
				/>
			</GalleryImage>
		</div>
	</div>
	<p class="lead">
		If you are looking to bring greenery into your home, Charlotte can provide a personalised houseplant
		ordering and advice service.
	</p>
	<Testimonial keyName="michelle" />
	<h3>Plant Styling</h3>
	<p class="lead">
		Do you have a wedding, funeral or special occasion that needs some original and eco-friendly plant styling? 
		Rather than using cut flowers, why not fill your space with plants in pots which you can then plant in your 
		garden or give to friends as a memory of a special day or poignant moment?
	</p>
	<p class="lead">
		Charlotte can work with you to design you a magical space and is happy to collaborate with local florists 
		and the venue to give you a full package.
	</p>
	<p class="lead">
		In this magical winter wedding at Wellington Barn in Calne, Charlotte worked with <a target="_blank" rel="noreferrer" href="https://thederryhillflorist.com/" title="The Derry Hill Florist">The Derry Hill Florist</a>. 
		Photos by <a target="_blank" rel="noreferrer" href="https://josephkinerman.co.uk/" title="Joseph Kinerma">Joseph Kinerman</a>
	</p>
	<Gallery small>
		<GalleryImage>
			<Image
				alt="Charlotte with her van filled to the brim with mistletoe"
				src={van}
			/>
		</GalleryImage>
		<GalleryImage>
			<Image
				alt="A mistletoe bunch decorating a chair at a wedding ceremony"
				src={mistletoe}
			/>
		</GalleryImage>
		<GalleryImage>
			<Image
				alt="A mistletoe ball hangs above the entrance to a wedding venue"
				src={ball}
			/>
		</GalleryImage>
		<GalleryImage>
			<Image
				alt="A bride and groom stand in front of a table covered in greenery"
				src={bride}
			/>
		</GalleryImage>
	</Gallery>
	<Testimonial keyName="peppa" />
</section>
