---
import { Image } from 'astro:assets';
import outline from '../../images/outline.jpg';
import dino from '../../images/dino.jpg';
import walledPlan from '../../images/essex/walled-plan-detail.jpg';
import lm from '../../images/low-maintenance/during-from-house-cropped.jpg';
import yy from '../../images/yy/yy-design-cropped.jpg';
import yyPlot from '../../images/yy/yy-plotting.jpg';
import planting from '../../images/vt/vt-planting.jpg';
import wine from '../../images/yy/yy-wine.jpg';

import GalleryImage from '../GalleryImage.astro';
import Gallery from '../Gallery.astro';
import Testimonial from '../Testimonial.astro';
---

<section>
	<h2 id="process">The Process</h2>
	<div class="columns">
		<div class="col two-thirds">
			<p class="lead">
				The process will start with an initial £80, one hour consultation in your garden. This is a 
				great way to get to know each other and the space and to sketch out some very rough ideas. 
				Charlotte will book a day to survey with her assistant. From the survey she will create a 
				'base plan'. This is the basic shape of your garden including the elements to be kept. 
			</p>
			<Gallery large>
				<GalleryImage title="Sample base plan">
					<Image
						title="Sample base plan"
            alt="A sample base plan"
						src={outline}
					/>
				</GalleryImage>
			</Gallery>
		</div>
		<div class="col one-third">
			<GalleryImage title="Charlotte's survey assistant">
				<Image
					title="Charlotte's survey assistant"
          alt="A man in a dinosaur costume holding a tape measure and clipboard"
					src={dino}
				/>
			</GalleryImage>
		</div>
	</div>
	<h3>The Garden Design Meeting</h3>
	<p class="lead">
		Through her unique approach that she has spent years refining, you and Charlotte will sit together, and 
		over a period of two hours, with Charlotte's gentle guidance, you will design your garden together. 
		Charlotte sees herself as just the facilitator, she will sketch out your ideas onto the page in front of your eyes.
	</p>
	<h3>The Design</h3>
	<Gallery huge>
		<GalleryImage
			narrowTallCaption
			title="Charlotte’s design for a walled flower garden for an organic florist in Essex"
		>
			<Image
				title="Charlotte’s design for a walled flower garden for an organic florist in Essex"
        alt="Charlotte’s design for a walled flower garden for an organic florist in Essex"
				src={walledPlan}
			/>
		</GalleryImage>
	</Gallery>
	<p class="lead">
		Once Charlotte is sure you are satisfied with the sketch she will go home and create a beautiful, hand-drawn 
		design for you. This process will take 1-2 weeks. Charlotte doesn't use CAD or flashy 3D walk throughs, 
		she thinks they are expensive, sterile and give a client an unreal expectation. Instead, in her design 
		presentation, she will 'walk' you through the garden through imaginative description. Each design comes with 
		a presentation pack, packed with inspirational ideas, photos, mood boards, plant lists, useful information and links 
		to websites so you and your landscaper will know exactly what your garden will look like.
	</p>
	<h3>The Build</h3>
	<div class="columns">
		<div class="col one-half">
		<p class="lead">
			Once you have signed off your bespoke design, Charlotte will help you to find a landscaper to build the garden. 
			Through the years, Charlotte has built up a large portfolio of useful contacts and will be able to recommend 
			excellent, reliable landscapers and craftspeople, all with the same ethos of sustainability and attention to 
			detail as her. The landscapers that Charlotte works with always take great care to accurately bring what you 
			and she have created together from paper into real life. The gardens will always be marked out before any digging 
			is done to help clients visualise the completed garden and to make sure that they are happy with how the space works. 
			Charlotte is always on hand during the build for advice and site visits.
		</p>
		</div>
		<div class="col one-half">
			<GalleryImage title="One of Charlotte's builds in progress">
				<Image
					title="One of Charlotte's builds in progress"
					alt="One of Charlotte's builds in progress"
					src={lm}
				/>
			</GalleryImage>
		</div>
	</div>
	<div class='columns'>
		<div class='col one-half'>
			<GalleryImage title="From paper...">
				<Image
					title="From paper..."
					alt="One of Charlotte's hand-drawn designs for a garden"
					src={yy}
				/>
			</GalleryImage>
		</div>
		<div class='col one-half'>
			<GalleryImage title="...to plot!">
				<Image
					title="...to plot!"
					alt="On the site of the garden before work starts, the lines of the same drawing are marked out on the grass."
					src={yyPlot}
				/>
			</GalleryImage>
		</div>
	</div>
	
	<div class="columns">
		<div class="col one-half">
			<GalleryImage
				title="Charlotte can help you order and place the plants"
				tallCaption 
			>
				<Image
					title="Charlotte can help you order and place the plants. Photo by Victoria Tapper"
					alt="Charlotte carrying a tray of plants. Photo by Victoria Tapper"
					src={planting}
				/>
			</GalleryImage>
		</div>
		<div class="col one-half">
			<h3>Planting</h3>
			<p class="lead">
				Softscaping is key to Charlotte's gardens, she tries to keep hard landscaping to the minimum. This will save you money 
				as well as being more sustainable. Plants should be queen of the garden!
			</p>
			<p class="lead">
				After the build, for a small extra fee, Charlotte 
				will come back to your home and help you choose the plants with whatever budget you have left. She uses fantastic 
				trade nurseries (listed at the end of the website) to get you the best quality plants at the best possible prices.
			</p>
			<p class="lead">
				She will get you quotes and organise delivery and place the plants. Leaving you to plant them yourself under her 
				guidance, or if that is not possible, she will find you a professional gardener to do it.
			</p>
		</div>
	</div>
	<Testimonial keyName="keeley" />
	<p class="lead">
		All that is left to do now is sit back, relax and enjoy your beautiful outside space, made just for you!
	</p>
	<Gallery large>
		<GalleryImage
			title="Your garden can now be a perfect place to relax with your favourite tipple!" 
			tallCaption 
		>
			<Image
				title="Your garden can now be a perfect place to relax with your favourite tipple!. Photo by Victoria Tapper"
				alt="A bottle of wine, a glass and several books sit on a table in a garden. Photo by Victoria Tapper"
				src={wine}
			/>
		</GalleryImage>
	</Gallery>
</section>
