---
import { Image } from 'astro:assets';
import outline from '../../images/outline.jpg';
import dino from '../../images/dino.jpg';
import walledPlan from '../../images/essex/walled-plan-detail.jpg';
import lm from '../../images/low-maintenance/during-from-house-cropped.jpg';
import yy from '../../images/yy/yy-design-cropped.jpg';
import yyPlot from '../../images/yy/yy-plotting.jpg';
import planting from '../../images/vt/vt-planting.jpg';
import wine from '../../images/yy/yy-wine.jpg';

import GalleryImage from '../GalleryImage.astro';
import Gallery from '../Gallery.astro';
import Testimonial from '../Testimonial.astro';
---

<section aria-labelledby="process">
	<h2 id="process">The Process</h2>
	<div class="columns">
		<div class="col two-thirds">
			<p class="lead">
				The process will start with an initial £100, one hour consultation in your garden. This is a 
				great way to get to know each other and the space and to sketch out some very rough ideas. 
				From this meeting, I can put together a quote for my garden design services. Once my quote 
				is agreed, I will book a day to survey with my assistant. From the survey I will create a 
				'base plan'. This is the basic shape of your garden including the elements to be kept. 
			</p>
			<Gallery large>
				<GalleryImage title="Sample base plan">
					<Image
						title="Sample base plan"
            alt="A sample base plan"
						src={outline}
					/>
				</GalleryImage>
			</Gallery>
		</div>
		<div class="col one-third">
			<GalleryImage title="My survey assistant">
				<Image
					title="My survey assistant"
          alt="A man in a dinosaur costume holding a tape measure and clipboard"
					src={dino}
				/>
			</GalleryImage>
		</div>
	</div>
	<h3>The Garden Design Meeting</h3>
	<p class="lead">
		Through my unique approach that I have spent years refining, you and I will sit together, and 
		over a period of two hours, with my gentle guidance, we will design your garden together. 
		I see myself as just the facilitator, I will sketch out your ideas onto the page in front of your eyes.
	</p>
	<h3>The Design</h3>
	<Gallery huge>
		<GalleryImage
			narrowTallCaption
			title="My design for a walled flower garden for an organic florist in Essex"
		>
			<Image
				title="My design for a walled flower garden for an organic florist in Essex"
        alt="My design for a walled flower garden for an organic florist in Essex"
				src={walledPlan}
			/>
		</GalleryImage>
	</Gallery>
	<p class="lead">
		Once I am sure you are satisfied with the sketch I will go home and create a beautiful, hand-drawn 
		design for you. This process will take 1-2 weeks. I don&rsquo;t use CAD or flashy 3D walk throughs, 
		I think they are expensive, sterile and give you, the client an unrealistic expectation. Instead, in my design 
		presentation, I will 'walk' you through the garden through imaginative description. Each design comes with 
		a presentation pack, packed with inspirational ideas, photos, mood boards, plant lists, useful information and links 
		to websites so you and your landscaper will know exactly what your garden will look like.
	</p>
	<h3>The Build</h3>
	<div class="columns">
		<div class="col one-half">
		<p class="lead">
			Once you have signed off your bespoke design, I will help you to find a landscaper to build the garden. 
			Through the years, I have built up a large portfolio of useful contacts and will be able to recommend 
			excellent, reliable landscapers and craftspeople, all with the same ethos of sustainability and attention to 
			detail as me. The landscapers that I work with always take great care to accurately bring what you 
			and I have created together from paper into real life. The gardens will always be marked out before any digging 
			is done to help clients visualise the completed garden and to make sure that they are happy with how the space works. 
			I am always on hand during the build for advice and site visits.
		</p>
		</div>
		<div class="col one-half">
			<GalleryImage title="One of my builds in progress">
				<Image
					title="One of my builds in progress"
					alt="One of my builds in progress"
					src={lm}
				/>
			</GalleryImage>
		</div>
	</div>
	<div class='columns'>
		<div class='col one-half'>
			<GalleryImage title="From paper...">
				<Image
					title="From paper..."
					alt="One of my hand-drawn designs for a garden"
					src={yy}
				/>
			</GalleryImage>
		</div>
		<div class='col one-half'>
			<GalleryImage title="...to plot!">
				<Image
					title="...to plot!"
					alt="On the site of the garden before work starts, the lines of the same drawing are marked out on the grass."
					src={yyPlot}
				/>
			</GalleryImage>
		</div>
	</div>
	
	<div class="columns">
		<div class="col one-half">
			<GalleryImage
				title="I can help you order and place the plants"
				tallCaption 
			>
				<Image
					title="I can help you order and place the plants. Photo by Victoria Tapper"
					alt="Charlotte carrying a tray of plants. Photo by Victoria Tapper"
					src={planting}
				/>
			</GalleryImage>
		</div>
		<div class="col one-half">
			<h3>Planting</h3>
			<p class="lead">
				Softscaping is key to my gardens, I try to keep hard landscaping to the minimum. This will save you money 
				as well as being more sustainable. Plants should be queen of the garden!
			</p>
			<p class="lead">
				After the build, for a small extra fee, I 
				will come back to your home and help you choose the plants with whatever budget you have left. I use fantastic 
				trade nurseries (listed at the end of the website) to get you the best quality plants at the best possible prices.
			</p>
			<p class="lead">
				I will get you quotes and organise delivery and place the plants. Leaving you to plant them yourself under my 
				guidance, or if that is not possible, I will find you a professional gardener to do it.
			</p>
		</div>
	</div>
	<Testimonial keyName="keeley" />
	<p class="lead">
		All that is left to do now is sit back, relax and enjoy your beautiful outside space, made just for you!
	</p>
	<Gallery large>
		<GalleryImage
			title="Your garden can now be a perfect place to relax with your favourite tipple!" 
			tallCaption 
		>
			<Image
				title="Your garden can now be a perfect place to relax with your favourite tipple!. Photo by Victoria Tapper"
				alt="A bottle of wine, a glass and several books sit on a table in a garden. Photo by Victoria Tapper"
				src={wine}
			/>
		</GalleryImage>
	</Gallery>
</section>
