---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/App.css';
import { SITE_TITLE } from '../consts';

interface Props {
	title?: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/logo.jpg' } = Astro.props;
const fullTitle = [title, SITE_TITLE].filter(t => !!t).join(' - ');
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/icon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/JosefinSans.woff2" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/JosefinSlab.woff2" as="font" type="font/woff" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{fullTitle}</title>
<meta name="title" content={fullTitle} />
<meta name="description" content={description} />
<meta name="robots" content="index,follow">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={fullTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Structured data -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Capability Charlotte",
    "url": "https://capabilitycharlotte.com/",
    "logo": "https://capabilitycharlotte.com/logo.jpg",
    "image": "https://capabilitycharlotte.com/header.jpg",
    "description": "Award-winning garden designer based in Wiltshire, creating natural, wildlife-friendly gardens bursting with biodiversity from beautiful, hand-drawn designs.",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Devizes",
      "addressRegion": "Wiltshire",
      "addressCountry": "GB"
    },
    "areaServed": [
      "Wiltshire",
      "Bath",
      "Somerset",
      "Hampshire",
      "Salisbury",
      "Devizes",
      "Corsham",
      "Chippenham",
      "Melksham",
      "Bradford-on-Avon"
    ],
    "telephone": "+44 7850 065470",
    "email": "info@capabilitycharlotte.com",
    "founder": {
      "@type": "Person",
      "name": "Charlotte Howard"
    },
    "sameAs": [
      "https://www.facebook.com/capabilitycharlottegardens/",
      "https://www.instagram.com/capabilitycharlotte/"
    ]
  }
  </script>
  

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJBNNV9JY7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZJBNNV9JY7');
</script>
